:root {
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: #4a0f8d;
    --border: .1rem solid var(--card-color)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in;
}

html {
    font-size: 69.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
}

.btn {
    display: inline-block;
    text-align: center;
    background-color:black;
    border-radius: .7rem;
    font-size: 1.5rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

section {
    padding: 2rem 7%;
}

.btn:hover {
    letter-spacing: .2rem;
}

.title {
    text-shadow: 2px 2px 0 var(--card-color), -2px -2px 0 var(--card-color), -2px -2px 0 var(--card-color);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 3.5rem 0;
    font-size: 4rem;
}

.title span {
    color: var(--main-color)
}

.header {
    background-color: rgb(2, 2, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    /* z-index: 1000;*/
}

.header .logo img {
    height: 10rem;
    border-radius: 50%;
}

.header .navbar a {
    color: #fff !important;
    font-size: 2.2rem;
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--black);
    border-top: .3rem solid var(--black);
    border-bottom: .3rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header .icons {
    display: flex;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--black);
}

.header .icons .menu-icon {
    display: none;

}

.header .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: 7%;
    width: 35rem;
    height: 5rem;
    background-color: #fff;
}

.header .search-form.active {
    right: 7%;
}

.header .search-form input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--black);
}

.header .search-form label {
    color: var(--black);
    font-size: 3.3rem;
    padding-right: 5.3rem;
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--main-color);
}

/* cartsection*/

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    background-color: #fff;
    height: 79vh;
    border: solid 3px black;
    padding: 0.8rem;

}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    display: flex;
    align-items: center;
    margin: rem 0;
    border: solid 2px black;
    position: relative;
    gap: 2rem;
}

.header .cart-items-container a {
    width: 100%;
}

.header .cart-items-container .cart-item img {
    width: 7rem;
}

.header .cart-items-container .cart-item span {
    position: absolute;
    top: 7%;
    right: 11%;
    font-size: 1.8rem;
    color: var(--black);
    cursor: pointer;
}

.header .cart-items-container .cart-item span:hover {
    color: red
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 50rem;
    color: var(--black);
    padding-bottom: 2rem;
}

.header .cart-items-container .cart-item .price {
    font-size: 2.4rem;
    color: red;
    padding-bottom: 1.2rem;
}

/* home section starts */
.home {
    display: flex;
    align-items: center;
    min-height: 80vh;
    margin-top: 20vh;
    background-color:aqua;
    background-image: url("assets/ideogram\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.home1{
    display: flex;
    align-items: center;
    min-height: 80vh;
    margin-top: 20vh;
    background-color:aqua;
    background-image: url("assets/farmaceutica-jovem-hispanica-sorrindo-confiante-em-pe-com-gesto-de-bracos-cruzados-na-farmacia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}




.home .hero {
    width: 60rem;

}

.home .hero h3 {
    font-size: 5rem;
    text-transform: uppercase;
    color: black;
}

.home .hero p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 3.8rem;
    padding: 1rem;
    color: #eee;
}

/* produtos section */
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    font-size: 0%;
}

.Produtos .wrapper .Produtos-card {
    background-color: rgb(173, 12, 12);
    padding: 2rem 2rem;
    text-align: center;
    transform-origin: top center;
}

.Produtos.wrapper.Produtos-card:hover {
    transform: scaleY(1.1);
    background-color: var(--black);
}

.Produtos.wrapper.Produtos-card:hover *:not(a) {
    color: var(--main-color);

}

.Produtos .wrapper .Produtos-card img {
    width: 100%;

}

.Produtos .wrapper .Produtos-card h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.Produtos .wrapper .Produtos-card .price {
    color: #fff;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

.Produtos .wrapper .Produtos-card .price span {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: line-through;
}

/* meedicamentos card */

.Medicamentos .wrapper .medicamentos-card {
    text-align: center;
    background-color: #eac7c7;
    padding: 2rem;
    border: var(--border);
}

.Medicamentos .wrapper .medicamentos-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Medicamentos .wrapper .medicamentos-card .img {
    padding: 2.5em 0;
}

.Medicamentos .wrapper .medicamentos-card .img img {
    height: 20rem;
}

.review .wrapper .review-card{
    display: flex ;
    text-align: center;
    
}
.review .wrapper .review-card img{
    height: 4rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    max-width: 320px;
  }
  
  .stars {
    display: flex;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(238, 203, 8);
  }
  
  .star {
    height: 1.25rem;
    width: 1.25rem;
  }
  
  .infos {
    margin-top: 1rem;
  }
  
  .date-time {
    color: rgba(7, 63, 216, 1);
    font-size: 12px;
    font-weight: 600;
  }
  
  .description {
    margin-top: 0.4rem;
    line-height: 1.625;
    color: rgba(107, 114, 128, 1);
  }
  
  .author {
    margin-top: 1.3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(107, 114, 128, 1);
  }





.contato .contents {
    display: flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    height: 40.5rem;
}

.contato .contents iframe {
    height: 100%;
    flex: 1 1 45rem;
    object-fit: cover;
}

.contato .contents from {
    height: 100%;
    flex:1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}
.contato .contents from h3{
    text-transform: uppercase;
    color: #fff;
    font-size: 100%;
    padding: 100% 0;
}
.contato .contents from .input-box{
    display: flex;
    align-items:center ;
    margin-bottom: 5rem;
    border: var(red);
}
.contato .contents from .input-box span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contato .contents from .input-box input{
    background-color: var(--black);
    text-transform: none;
    color: #fff;
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
}
/* FOOTER */
footer{
    background: rgb(2, 2, 39);
    text-align: center;
}
.footer .social-midia {
    padding: 1rem 0;
}
.footer .social-midia a{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 3rem;
    color: #fff;
    border: var(--border);
    margin: .5rem;   
}
.footer .social-midia a:hover{
    background-color:red !important;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
    background-color:red ;   
}
.footer .credits{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
}
.footer .credits:hover{
    background-color :red!important;
}

body {
   background:#1b2029 ;
   font-weight: 500;
}

main {
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1{
    color: #8880fe;
    font-size: 3rem;
    margin-bottom: 3rem;
}
main .social-media img{
    width: 36px;
}
/* chatbot */
.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background: #e91e63;
    border-radius: 50%;
    transition:all 0.2s ease;
}
.show-chatbot.chatbot-toggler{
    transform: rotate(-90deg);
}

.chatbot-toggler span {
    position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child .chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition:all 0.1s ease;
}

.show-chatbot .chatbot {
    transform: scale(0.5);
    opacity: 1;
    pointer-events: auto;

}

.chatbot section   {
    background: #000943;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot .section h2 {

    color: #fff;
    font-size: 1.4rem;
}

.chatbot section span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.chatbot .chatbox {
    height: 710px;
    overflow-y: auto;
    padding: 50px 50px 100px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin: 0 10px 7px 0;
}

.chatbot .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbot .chat p {
    color: white;
    max-width: 75%;
    white-space: pre-wrap;
    padding: 12px 16px;
    font-size: 0.95rem;
    border-radius: 10px 10px 0 10px;
    background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
}
.chatbot .chat p.error{
    color: #721c24;
    background: #f8d7da;
}

.chatbox .incoming p {
    color: black;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0px;
}

.chatbot .chat-input {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    min-height: 180px;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span {
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #000943;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

@media(max-width:490px) {
    .chatbox {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .chatbot .chatbox {
        height: 90%;
    }

    .chatbot section span {
        display: block;
    }
}
